# Данные
data/
*.db
*.sqlite

# Кэши
.cache/
__pycache__/
*.pyc

# Логи
*.log
logs/

# Модели и индексы
model_cache/
faiss_index/

# Виртуальное окружение
venv/
env/

# Обработанные файлы
processed/
Input/

# Прочие
old project.txt
gui_launch.log
processor_test.log
hier_dict_test.log
